@{
    Layout = "~/_Layout.cshtml";
}

@section banner{
    <h1>Home of Razor CPSC1517</h1>
}

<a href="~/HelloWorld.cshtml">Hello world</a><br/>
<a href="~/SamplePages/BasicForm.cshtml">Basic form</a>
